*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    
    background-image: url("../img/pattern.png");
    background-color: #569fff;
    height: 100px;
    background-size: 30%;   
}

.container{
    width: 80%;
    margin: 0 auto;
}

.logo{
    height: 50px;
    margin-top: 40px;
}

.titolo{
    font-weight: bolder;
    font-size: 48px; 
    font-family:'Moul',
}

.credits{
    color: grey;
    font-weight: 600;
}

.author{
    color:rgb(0, 213, 255);
}

.date{
    color: grey;
    font-weight: 600;
    font-size: 13px;
}


table{
    width: 100%
}

th{
    text-align: left;
    font-weight: normal;
    border-left: 0;
}


.titolitab{
    font-weight: bold;
}

tbody{
    font-weight: normal;    
}

.imgdescription{
    font-size: small;
}

.largacella{
    width:50%;
    
}

.rigazzurrina{
    background-color: rgb(44, 255, 255);
    
}

.altro{
    font-size: large;
    font-weight: bold;
    color: grey;
}

#.boximg{
    position: relative;
   
}


   
}

.ad1{
    margin: 0px;
    background-repeat: no-repeat;
    background-image: url("../img/monitor.jpg")
    position: relative;
 
    font-size: larger;
    font-weight: bold;
    color: white;
}

.ad2{
    margin: 0px;
    background-repeat: no-repeat;
    background-image: url("../img/graph.jpg");
  
    position: relative;
    font-size: larger;
    font-weight: bold;
    color: white;
}

.evidenziato{
    background-color: yellow;
}

div.boxtesto {
    position: absolute;
    border-top: -40px;
    left: 0px;
    width: 100%;
   
  }
  span.testo {
    padding: 10px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: larger;
    letter-spacing: -1px;
  }